@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&family=Poppins:ital,wght@0,200;1,100&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
    font-family: 'Arimo', sans-serif;
}

.encabezadoPagina{
    display: flex;
    /* background: linear-gradient(#0aa7d6 80%, #000000); */
    padding-top: 2rem;
    justify-content: center;
}
.tituloPrincipal{
    color: #0aa7d6;
    background-color: #000000;
    background: linear-gradient(to right, #000000, #0aa7d6), ;
}
.logoPrincipal{
    height: 40px;
}
.primerParrafo{
    font-size: 30px;
    background-color: #000000;
    color: #0aa7d6;
    display: flex;
    justify-content: center;
}
.formIngreso{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formLabel{
    font-size: 20px;
    background-color: #000000;
    color: #0aa7d6;
}
#marcaCelular{
    background-color: #0aa7d6;
    color: #000000;
    width: auto;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
}
#modeloCelular{
    background-color: #0aa7d6;
    color: #000000;
    width: auto;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
}
#anioCelular{
    background-color: #0aa7d6;
    color: #000000;
    width: auto;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
}
#precioCelular{
    background-color: #0aa7d6;
    color: #000000;
    width: auto;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
}
.Btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;

}

.productosEstilos{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.card{
    width: 100%;
    max-width: 380px;
    margin: 1rem auto;
    border: 1px solid #470c0c;
    border-radius: 10%;
    text-align: center;
    background-color: #095dbdf1;
    max-height: 700px;
}
.card h3{
    color: #121213;
    margin: 0.5rem 0rem;
    padding: 0.25rem;
    padding-top: 1rem;
    font-size: 2.25rem;
    height: 120px;

}
.card img{
    border: 1px solid black;
    border-radius: 2%;
    min-width: 250px;
    width: 100%;
    height: 400px;
}
.content{
    padding: 1rem;
    font-size: 1rem;

}
.content button{
    padding: 0.5rem;
    border: 1px black solid;
    border-radius: 20%;
    background-color: black;
    font-size: 1.25rem;

}
.content p{
    padding: 0.25rem;
}
.content button:hover{
    color:#1d1818;
    height: 200%;
    
}
.autorCard{
    font-size: 2rem;
    height: 80px;
}
.precioCard{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.aCarrito{
    list-style-type: none;
}

.logoCarrito{
    height: 30px;
    width: 30px;
}

#precioTotal{
    color: #ec0a0ae7;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.modeloNuevo{
 color: #0aa7d6;
 font-size: 50px;
 text-decoration: none;
}

.modeloViejo{
color: #686464;
font-weight: bold;
text-decoration: line-through;
}

.logoRemover{
    height: 10px;
    width: 10px;
}
.botonCarrito{
    height: 1px;
    width: 1px;
}

.agregarCelularBtn{
    background-color: #000000;
    color: #0aa7d6;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 18px;
}



#ocultarCatalogoBtn{
    background-color: #000000;
    color: #0aa7d6;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 18px;
}

#verCatalogoBtn{
    background-color: #000000;
    color: #0aa7d6;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 18px;
}
#loader1{
    font-size: 40px;
    color: #470c0c;
}